{% extends 'base.html' %}
{% load static %}
{% block title %} My Blog {% endblock %}

{% block content %}
<br>
<h1>Posts</h1>
<ul>
    <em><strong>{% if user.is_authenticated %}
            {% if user.profile %}
            {%else%}
            PLEASE <a href="{% url 'create_profile_page' %}" style="color: red;">CREATE YOUR PROFILE PAGE</a> TO ADD
            BIO AND PROFILE PIC <br>
            {%endif%}
            {%endif%}
            {% for post in object_list %}</em></strong>
    <!-- <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> by {{ post.author }}
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <small>( <a href="{% url 'update_post' post.pk %}">Edit</a> )
        ( <a href="{% url 'delete_post' post.pk %}">Delete</a> )</small>
    {%endif%}
    {%endif%}
    <br>
    {{ post.snippet|slice:":200"|safe }}
    <hr> -->

    <br>
    <div class="card" style="background-color: #F4F5F7;">
        <div class=" card-body">
            <h5 class="card-title"><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h5>

            <h6 class="card-subtitle mb-2 text-muted">by &nbsp;

                {%if post.author.profile.profile_pic%}
                <img src="{{post.author.profile.profile_pic.url}}" alt="" width="25" class="img-fluid rounded-circle">


                {%else%}
                <img src="{% static 'theblog/another.jpg' %}" alt="" width="25" class="img-fluid rounded-circle">

                {%endif%} <a href="{% url 'show_profile_posts' post.author.id %}"
                    style="text-decoration: none; color:black">
                    {{post.author.first_name}}</a>
            </h6>
            {%if post.header_image%}
            <img src="{{post.header_image.url}}" height="250" alt="">
            {%endif%}
            <p class="card-text">{{ post.snippet|slice:":200"|safe }}
                content.</p>
            {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            <a href="{% url 'update_post' post.pk %}" class="card-link">Edit</a>
            <a href="{% url 'delete_post' post.pk %}" class="card-link" style="color: red;">Delete</a>
            {%endif%}
            {%endif%}
            <!-- {{user.profile.user}} <br>
            {{user.profile.bio}} <br> -->
            <!-- {{user.profile.instagram_url}} <br> -->
            <!-- {%if post.author.profile.profile_pic%}
            <img src="{{post.author.profile.profile_pic.url}}" alt=""> <br>
            {%endif%} -->
        </div>
    </div>

    {% endfor %}
</ul>
{{post.author.first_name}}
{% endblock %}