{% extends 'base.html' %}
{% load static %}
{% block title %} My Blog {% endblock %}

{% block content %}
<br>
<h3>{{page_user}}'s Profile</h3>

<div class="card mb-3" style="background-color: #EFF0F5;">
    <div class="row g-0">
        <div class="col-md-2">
            {%if page_user.profile_pic %}
            <img src={{page_user.profile_pic.url}} width=180, class="img-fluid rounded-circle">
            {%else%}
            <img src="{% static 'theblog/another.jpg' %}" alt="Profile_Pic alt" width=180,
                class="img-fluid rounded-circle">
            {%endif%}

        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{page_user.user}}</h5>
                <a href="{%url 'show_profile_page' page_user.id%}">Profile</a> |

                {%if page_user.instagram_url %}
                <a href="{{page_user.instagram_url}}"><img src="{% static 'theblog/instagram.jpg' %}" width="20"
                        alt=""></a>

                {%endif%}
                {%if page_user.twitter_url %}
                |&nbsp;<a href="{{page_user.twitter_url}}"><img src="{% static 'theblog/twitter.png' %}" width="20"
                        alt=""></a>&nbsp;

                {%endif%}

                {%if page_user.facebook_url %}
                |<a href="{{page_user.facebook_url}}"><img src="{% static 'theblog/facebook.png' %}" width="20"
                        alt=""></a>

                {%endif%}

                <p class="card-text">{{page_user.bio}}</p>
            </div>
        </div>
    </div>
</div>
sdfsadfsadfsdfdfasdf
<hr>
</li>
{% endfor %}
{% endblock %}